{
	"extends": ["airbnb"],
	"globals": {
		"window": true,
		"document": true,
		"localStorage": true,
	},
	"rules": {
		"no-unused-vars": "warn",
		"no-console": "warn",
		"object-shorthand": "off",
		"import/prefer-default-export": "warn",
		"prefer-const": "warn",
		"no-var": "error",
		"no-tabs": "off",
		"linebreak-style": "off",
		"indent": "off",
		"wrap-iife": ["error", "any"],
		"comma-dangle": [
			"error",
			{
				"functions": "never",
				"objects": "always-multiline",
			},
		],
		"no-param-reassign": ["error", { "props": false }],
	},
}
