#app {
	display: flex;

}

form {
	border: 1px solid black
}

form li {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	max-width: 500px;
}
form li:last-child {
	border-bottom: none;
}

form li:first-child {
	border-top: none;
}
label {
	display: block;
	padding: 10px 0px 10px;
}

label,
input {
	cursor: pointer;
}
